
.navbar {
    background: $clouds;
    box-shadow: none;
    border-bottom: 1px solid darken($clouds, 5%);
    position: fixed;
    z-index: 100;

    .logo {
        height: 35px;
        margin: 15px 0px 0px 10px;
    }

    .nav-menu li a {
        font-family: 'Roboto', Helvetica;
        color: $darken;
        font-weight: 800;
        text-transform: uppercase;
        font-size: 15px;

        &.active {
            background-color: $blue;
            color: white;
            @include transition(.25s);
        }
        &.active:hover {
            background-color: darken($blue, 5%);
        }
    }
}

