//
// Color Swatches
// --------------------------------------------------
$turquoise:     #1abc9c;
$green-sea:     #16a085;

$emerland:      #2ecc71;
$nephritis:     #27ae60;

$peter-river:   #3498db;
$belize-hole:   #2980b9;

$amethyst:      #9b59b6;
$wisteria:      #8e44ad;

$wet-asphalt:   #34495e;
$midnight-blue: #2c3e50;

$sun-flower:    #f1c40f;
$orange:        #f39c12;

$carrot:        #e67e22;
$pumpkin:       #d35400;

$alizarin:      #e74c3c;
$pomegranate:   #c0392b;



$concrete:      #95a5a6;
$asbestos:      #7f8c8d;

$darken:        #2e2e2e;
$lighten:       #efefef;


//
// Social Network
// --------------------------------------------------
$facebook: #3b5998;
$twitter: #00aced;
$googleplus: #dd4b39;
$youtube: #bb0000;
$instagram :#125688;
$whatsapp: #4dc247;



$cyan: #00BCD4;
$red: #FF5252;
$pink: #E91E63;
$purple: #9C27B0;
$deep-purple: #673AB7;
$indigo: #3F51B5;
$blue: #2196F3;

$light_gray: #cccccc;
$xlight_gray: #f2f2f2;
$white:#ffffff;

// PALETTE
$teal-50: #E0F2F1;
$teal: #009688;
$teal-700: #00796B;
$teal-800: #00695C;
$clouds: #ecf0f1;
$silver: #bdc3c7;
$gray-600: #546E7A;
$gray-800: #37474F;
$indigo-50: #E8EAF6;
$indigo-100: #C5CAE9;
$blue-50: #E3F2FD;
$blue-100: #BBDEFB;
$pink-100: #F8BBD0;

